body {
    background-color: #FFF1DC;
}

hr {
  
    border-style: dotted none none ;
    border-width: 5px;
    width: 10%;
    border-color: #3A98B9;
   
}

h1{
    color :#3A98B9
}

h3{
    color :#3A98B9
}